body{
    background-image: url("bg.png");
    background-repeat: no-repeat;
}
#upper{
    font-size: 64px;
    margin-top: 200px;
   
   text-align: center;
    word-spacing: -4px;
   color: white;
    
    
}
#upper h2{
    font-size: 24px;
    background-color: #e754a5;
    background-size: 20px 20px;
    border: 1px solid black;
    color: white;
    
    text-align: center;
    margin-left: 550px;
    margin-right: 550px;
    padding-top: 40px;
    padding-bottom: 40px;
}
}
p2{
    font-weight: bold;
    color: white;
}
p1{
    margin-top: 100px;
    font-size: 30px;
    color: white;
}
span{
    font-size: 16px;
    color: white;
    font-weight: bold;
    
    margin-left: 200px;
   border: 1px solid black;
   padding-right: 40%;
   padding-bottom: 5px;
  
   
    
    border-bottom: 3px solid white;
}